
<div class="category-tools">
   <div class="category-btn active"  data-filter= "gardening" >
     Gardening    <%=cl_image_tag("m7zkxnhxztin8ahpspqt.png", class:"icon")%>
   </div>

   <div class="category-btn" data-filter= "Painting">
     Painting   <%=cl_image_tag("zqh8jlopj8stfn78apg9.png", class:"icon")%>
   </div>

   <div class="category-btn" data-filter= "Large works" >
     Large works  <%=cl_image_tag("xvagpzn3fgk7slw9gmky.png", class:"icon")%>
   </div>
   <div class="category-btn" data-filter= "Mechanics">
     Mechanics  <%=cl_image_tag("zyescy28kdutceas3osf.png", class:"icon")%>
   </div>

   <div class="category-btn" data-filter= "Plumbing">
     Plumbing  <%=cl_image_tag("kq6wktdf0nnvhmwuztnf.png", class:"icon")%>
   </div>

   <div class="category-btn" data-filter= "Electricity">
     Electricity  <%=cl_image_tag("kwujoj93jtz6ilmnc4cz.png", class:"icon")%>
   </div>
</div>


<div class="searchbar">
<form>
  <div class="form-row">
    <div class="col-5 py-1">
      <input type="text" class="form-control" placeholder="What tool are your looking for?">
    </div>
    <div class="col-2 py-1">
      <input type="text" class="form-control" placeholder="Your address">
    </div>
    <div class="col py-1">
      <input type="date" class="form-control" placeholder="Start Date">
    </div>
    <div class="col py-1">
      <input type="date" class="form-control" placeholder="End Date">
    </div>
     <div class="col py-1" style="text-align:center">
         <button name="button" type="submit" class="btn btn-flat-search" >       <i class="fas fa-search"></i> Search
        </button>
    </div>
  </div>
</form>
</div>

<% if flash[:msg] %>
  <div class="flash-message text-center">
    <h3><%= flash[:msg] %></h3>
  </div>
<% end %>

<div class="product-tools">

  <% @tools.each do |tool| %>
  
  <div class ="product-cards" data-filter='<%= tool.category%>'>
  <%= link_to tool_path(tool), class: "product-cards-link" do %>
    <div class="product-infos">
    <% if tool.user === current_user %>
        <span class="notify-badge">Host</span>
        <%= link_to tool_path(tool), method: :delete, data: { confirm: "Are you sure?" }, class:"notify-badge-delete" do %>
        <i class="far fa-times-circle"></i>
          <% end %>
    <% end %>

        <% if tool.photo.attached? %>
          <%= cl_image_tag(tool.photo.key)%>
         <%else %>
          <%=  cl_image_tag("ylqaiehw0slcqpsbivst.png") %>
          <% end %>
        <h2><%=  tool.tool_name.capitalize %></h2>
        <div class="product-price d-flex justify-content-between m-2">
        <div>
        <p><%=tool.tool_description.capitalize.first(30) %></p>
        <p><i class="fas fa-map-marker-alt"></i> <%=tool.address.first(30) %></p>
        </div>
        <h1><%= tool.price.to_s+"€"%> / day</h1>
       </div>
    </div>
    <div class="avatar-card">
      <% if tool.user.photo.attached? %>
        <%= cl_image_tag(tool.user.photo.key, class: "avatar-small") %>
      <% else %>
        <%= cl_image_tag("ylqaiehw0slcqpsbivst.png", class: "avatar-small") %>
      <%end %>
    </div>
    <% end %>
  </div>
  
 <% end %>
</div>

