
<div class="category-tools">
   <div class="category btn" >
     Gardening    <%=cl_image_tag("m7zkxnhxztin8ahpspqt.png", class:"icon")%>
   </div>

   <div class="category btn" >
     Painting   <%=cl_image_tag("zqh8jlopj8stfn78apg9.png", class:"icon")%>
   </div>

   <div class="category btn" >
     Large works  <%=cl_image_tag("xvagpzn3fgk7slw9gmky.png", class:"icon")%>
   </div>
   <div class="category btn" >
     Mechanics  <%=cl_image_tag("zyescy28kdutceas3osf.png", class:"icon")%>
   </div>

   <div class="category btn" >
     Plumbing  <%=cl_image_tag("kq6wktdf0nnvhmwuztnf.png", class:"icon")%>
   </div>

   <div class="category btn" >
     Electricity  <%=cl_image_tag("kwujoj93jtz6ilmnc4cz.png", class:"icon")%>
   </div>
</div>


<div class="searchbar">
<form>
<%= form_tag tools_path, method: :get do %>
  <div class="form-row">
    <div class="col-3 py-1">
    <%= text_field_tag :tool,
    params[:tool],
    class: "form-control",
    placeholder: "Find a tool"%>    
    </div>
    <div class="col-5 py-1">
      <%= text_field_tag :address,
    params[:address],
    class: "form-control",
    placeholder: "Find an address"%>    
    </div>
    <div class="col py-1">
      <%= text_field_tag :start_date,
          params[:start_date],
          class: "form-control",
          placeholder: "Find a start date"%>    
    </div>
    <div class="col py-1">
      <%= text_field_tag :end_date,
          params[:end_date],
          class: "form-control",
          placeholder: "Find an end date"%>      
      </div>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
     <%# <div class="col py-1" style="text-align:center">
         <button name="button" type="submit" class="btn btn-flat-search" >       <i class="fas fa-search"></i> Search
        </button>
    </div> %>
  </div>
</form>
</div>

<% if flash[:msg] %>
  <div class="flash-message text-center">
    <h3><%= flash[:msg] %></h3>
  </div>
<% end %>

<div class="product-tools">

  <% @tools.each do |tool| %>
  
  <div class ="product-cards">
  <%= link_to tool_path(tool), class: "product-cards-link" do %>
    <div class="product-infos">
    <% if tool.user === current_user %>
        <span class="notify-badge">Host</span>
        <%= link_to tool_path(tool), method: :delete, data: { confirm: "Are you sure?" }, class:"notify-badge-delete" do %>
        <i class="far fa-times-circle"></i>
          <% end %>
    <% end %>

        <% if tool.photo.attached? %>
          <%= cl_image_tag(tool.photo.key)%>
         <%else %>
          <%=  cl_image_tag("ylqaiehw0slcqpsbivst.png") %>
          <% end %>
        <h2><%=  tool.tool_name.capitalize %></h2>
        <div class="product-price d-flex justify-content-between m-2">
        <div>
        <p><%=tool.tool_description.capitalize.first(30) %></p>
        <p><i class="fas fa-map-marker-alt"></i> <%=tool.address.first(30) %></p>
        </div>
        <h1><%= tool.price.to_s+"€"%> / day</h1>
       </div>
    </div>
    <div class="avatar-card">
      <% if tool.user.photo.attached? %>
        <%= cl_image_tag(tool.user.photo.key, class: "avatar-small") %>
      <% else %>
        <%= cl_image_tag("ylqaiehw0slcqpsbivst.png", class: "avatar-small") %>
      <%end %>
    </div>
    <% end %>
  </div>
  
 <% end %>
</div>


