<h2>Add a tool</h2>

<%= simple_form_for @tool do |f| %>

<div class="form-inputs text-center">
  <div class="row justify-content-md-center">
      <div class="col-6",class="form-control:focus">
    <%= f.error_notification %>
      <%= f.input :tool_name,
                  required: true %>
    </div>
  </div>
  <div class="row justify-content-md-center">
        <div class="col-6",class="form-control:focus">
      <%= f.input :tool_description,
                  required: true %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-6",class="form-control:focus">
      <%= f.input :category,
                  required: true,
                  :collection => %w[Gardening Painting Large\ Works Mechanics Plumbing Electricity] %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-6",class="form-control:focus">
      <%= f.input :price,
                  required: true %>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-6",class="form-control:focus">
      <%= f.input :address,
                  required: true %>
    </div>
  </div>
   <div class="row justify-content-md-center">
    <div class="col-6">
     <%= f.input :photo, as: :file %>
    </div>
    </div>
  </div>


   
    <div class="row justify-content-md-center mt-2">
      <%= f.button :submit, "Add tool", class: "btn-green"%>
    </div>
  <% end %>
</div>
