<div class=btn-back>
  <%= link_to "< Go back to all tools", tools_path, class:"btn btn-flat-search" %>
  </div>
<div class="product-container">


  <div class="product-left-column col-8 ">
    <% if @tool.photo.attached? %>
          <%= cl_image_tag(@tool.photo.key)%>
         <%else %>
          <%=  cl_image_tag("ylqaiehw0slcqpsbivst.png") %>
           <%end %>
  </div>


  <div class="product-right-column col-3">
   <% if current_user === @tool.user %>
      <span class="badge bg-light text-dark">You are the owner of this product</span>
    <% end %>
    <div class="product-description ">

      <span><%=@tool.category%></span>
      <h1><%=@tool.tool_name.capitalize%></h1>
      <p><%= @tool.tool_description%></p>
    </div>

    <div class="product-price">
      <h4 id="price" ><%=@tool.price%></h4> <h4>€ per day</h4>
    </div>
    <div class="my-3">
    <% if current_user === @tool.user %>
      <%= link_to "Edit", edit_tool_path, class: "btn btn-edit" %>
      <%= link_to "Delete", tool_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-delete m-2" %>
   <%else  %>
    <div >
  <div class="form-inputs">
    <%= simple_form_for [@tool,@booking] do |f| %>
      <%= f.input :start_date, as: :string, input_html: {id: "range_start"}%>
      <%= f.input :end_date, as: :string, input_html: {id: "range_end"}%>
      <div class=" my-2 justify-content-around" id="pricetotal" style ="display: none">
       <div class="text-center">
        <h3 id="counter" style="font-weight: bold; margin-bottom: 0px">">O</h3>
        <h3 id="dayss">Day</h3>
        </div >
        <div class="verticalLine"></div>
        <div  class="text-center">
        <h3 style="margin-bottom: 0px">Total</h3>
        <h3 id="totalprice" style="font-weight: bold">O>0 €</h3>
        </div>
      </div>
      <%= f.button :submit, "Book now", class: "btn btn-book", disabled: true, id: "book" %>
    <% end %>
     <% end %>

   </div>
</div>
  </div>
  </div>
  </div>
  </div>
<div class="container">
<div class="card-owner">
   <% if @tool.user.photo.attached? %>
        <%= cl_image_tag(@tool.user.photo.key, class: "avatar-large") %>
      <% else %>
        <%= cl_image_tag("ylqaiehw0slcqpsbivst.png", class: "avatar-large") %>
      <%end %>


  <div class="card-owner-content">
    <p id="owner-username"><%= @tool.user.user_name %></p>
    <p><%= @tool.user.description %></p>
  </div>

</div>
</div>


<div class="container">
  <div id="map"
       style="width: 100%; height: 600px; margin-top: 50px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>


<script src="date-product-calculator.js"></script> 

