<div class="product-container">
 

  <div class="product-left-column">
    <% if @tool.photo.attached? %>
          <%= cl_image_tag(@tool.photo.key) %>
         <%else %>
          <%=  cl_image_tag("ylqaiehw0slcqpsbivst.png") %>
           <%end %>
  </div>
 
 
  <div class="product-right-column">
 
    <div class="product-description">
      
      <span><%=@tool.category%></span>
      <h1><%=@tool.tool_name.capitalize%></h1>
      <p><%= @tool.tool_description%></p>
    </div>
 
    <div class="product-price">
      <span><%=@tool.price%> €</span>
      <a href="#" class="btn-flat">Book now</a>
    </div>
    <div class="my-3">
    <% if current_user === @tool.user %>
      <%= link_to "Edit", edit_tool_path, class: "btn btn-edit" %>
      <%= link_to "Delete", tool_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-delete m-2" %>
    <% end %>
  </div>
  </div>
</div>